<div class= "title">GAMER STEVE</div>
<form id ="login" action="/login" method="post">
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">
  <input type="submit" value="login">
  <br>
</form>

<div id = "new_player">
<button>New to Gamer Steve?</button>
</div>
<form id ="new_player_form" action="/new_player" method="post">
  <br>
  <input type="text" name="username" placeholder="username"> <br>
  <input type="password" name="password" placeholder="password"> <br><br>
  <input type="submit" value="Sign Up">
  <br>

</form>
