<!-- DO NOT MODIFY -->
<div class="container">
  <h1>Tic TaCowell</h1>
  <div id = "player_record">
  <%=@player.username.capitalize%>'s Record <br>
  W / L<br>
  <%=@player_games.wins%>  |
  <%=@player_games.losses%><br>
  </div>



<br>
<div id ="guest_turn"> Guest Turn: <br>Click one square. Try to get 3 Simons in a row!</div>
<div id ="player_turn"> <%=@player.username.capitalize%>'s Turn: <br>Click one square. Try to get 3 Simons in a row!</div>
<a id="tic_game_over" href="#">End Game</a>
<br>
<br>
<a href = "/player/1/games"> Games </a><br>
 <form action = '/logout'method = 'get'>
    <input type="submit" value="Logout">
  </form>

<ul id="color_me">
  <li id = "1"></li>
  <li id = "2"></li>
  <li id = "3"></li>
  <li id = "4"></li>
  <li id = "5"></li>
  <li id = "6"></li>
  <li id = "7"></li>
  <li id = "8"></li>
  <li id = "9"></li>
</ul>

